# Node
node_modules/
npm-debug.log
.env

# Expo
.expo/
dist/
web-build/

# Spring Boot / Java
target/
*.class
*.jar
*.war
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store